@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    font-family: 'Noto Sans', sans-serif; 
    font-size: 18px;
    font-weight:  400;
    /* background: #ddd; */
    background-image: url(http://risovach.ru/upload/2014/09/generator/kot-v-kosmose_62441983_orig_.jpeg);
    color: #000000;
}



.container {
    max-width: 800px;
    margin: auto;
    padding-top: 20px;
}



.info-text p {
    font-style: italic;
    font-weight: 700; 
    color: #000000;
    padding: 15px 20px;

}
.confession {
    background-color: rgba(211, 205, 230, 60%);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 15px 20px;
    
}
.joke {
    background-color: rgba(211, 205, 230, 60%);
    border: 1px;
    border-radius: 20px;
    border: 1px solid black;
    padding: 15px 20px;
    margin-bottom: 20px;

}
.misery {
    border-radius: 20px;
    background-color: rgba(211, 205, 230, 60%);
    border: 1px solid rgb(0, 0, 0);
    padding: 15px 20px;

}

h1 {
    border: 2px solid black;
    background-color: rgba(238, 183, 194, 80%);
    border-color: black;
    border-radius: 20px;
    padding: 15px 20px;


}
.secrets {
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(211, 205, 230, 60%);
    padding: 15px 20px;


}
.info {
    margin-bottom: 20px;
    display: flex;

}
.info-text  {
    margin-bottom: 10px; 
    margin-left: 40px;
}

.avatar {
    width: 250px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0,0,0,50);
   

}
::placeholder {
    color: #73606d;
    font-weight: 400;
    
}

a {
    color: #e04588;
    text-decoration: none;

}

a:active {
    color: #5c0241;
}

/* a:visited { */
    /* color: #5c0241; */
/* } */
a:hover {
    color: #5c0241;
    text-decoration: underline;

}

.btn {
    color: #38072a;
    display: block;
    background-color: #e04588;
    border-radius: 20px;
    padding: 10px 50px;
    font-family: inherit;
    font-weight: bolder;
    margin: auto;
    transition: all .2s;


}
.btn:hover {
    background-color: #b5396f;
    cursor: pointer;


}

/* .bg-grey { */
    /* background-color: rgb(211, 205, 230); */
/* } */
/* can be used as class to change colors as well, preferable */
/* .bg-pink { */
    /* background-color: rgb(238, 183, 194); */
/* } */

.list {
    padding: 0 20px;

}

.list li {
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.form h2 {
    text-align: center;

}

@media (max-width: 750px) {
   .form-row {
    display: block;

   }
   .form-row, .form-group {
    margin-right: 0;
    margin-bottom: 10px;
   } 
}

.form-group label {
    display: block;
    font-size: 14px;

}
.form-row {
    margin-bottom: 10px;
    display: flex;


}

.form-row .form-group{
    /* display: inline-block ; */
    margin-right: 20px;
    width: 50%;
    /* width: 46%; */
}
.form-row .form-group:last-child {
    margin-right: 0;

}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: rgba(191, 165, 170, 50%);
    border-bottom: 1px solid #ccc;
    color: #000;
    padding:  0 10px;
    outline: none;
    font-family: inherit;
    border: 2px solid #c788a3;
    font-size: 14px;



}

@media (max-width: 750px) {
    .info {
        display: block;
        /* text-align: center; */
  }
  .info-text {
    padding-top: 20px;
    margin-left: 0;
  }
  .avatar {
    display: block ;
    margin: auto;
  }
}
